@mixin padding-container($size)
    padding-left: max(calc((100% - #{$size}) / 2), #{var(--container-margin)})
    padding-right: max(calc((100% - #{$size}) / 2), #{var(--container-margin)})

@mixin container($size)
    max-width: min($size, calc(100vw - #{var(--container-margin)} * 2))
    margin-left: auto
    margin-right: auto