@mixin padding-container($size)
    padding-left: calc((100% - #{$size}) / 2)
    padding-right: calc((100% - #{$size}) / 2)

@mixin container($size)
    max-width: $size
    margin-left: auto
    margin-right: auto