@import '../../includes/variables'
    
.tpl-bookList
    background: $color-background-primary

    &__list
        padding: $spacer-m
        display: flex
        flex-wrap: wrap
        gap: $spacer-m

    &__titleHold
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center