@import '../../includes/variables'
    
.tpl-bookEdit
    background-color: $color-background-secondary

    h1
        margin-bottom: $spacer-l

    section
        background-color: $color-background-lightest
        padding: $spacer-xl
        border-radius: 20px

    form
        display: grid
        grid-template-columns: 1fr 1fr
        gap: calc($spacer-xxl*2)
        background-color: $color-background-lightest

        textarea
            height: 100%
            

        button[type="submit"]
            max-width: 322px

    &__photo,
    &__preview
        --color-bg: #{$color-text-light} !important
        aspect-ratio: 1/1

        &.--hidden
            display: none

    

    &__photoInput
        position: absolute
        width: 1px
        height: 1px
        margin: -1px
        padding: 0
        overflow: hidden
        clip: rect(0, 0, 0, 0)
        border: 0

        &:focus + .tpl-bookEdit__addPhoto
            outline: 2px solid blue
            border-radius: 20px
            padding: 4px
            // margin: -4px
    
    
    &__addPhoto
        display: block
        cursor: pointer
        color: $color-text
        margin-left: auto
        margin-top: $spacer-l

    &__back
        display: inline-block
        margin-bottom: $spacer-l

        a
            text-decoration: none
            font-size: $size-s
