@import '../../includes/variables'
    
.tpl-bookList
    background: $color-background-primary

    h1
        font-size: $size-xl

    &__list
        padding: $spacer-m
        display: flex
        flex-wrap: wrap
        gap: $spacer-m

    &__titleHold
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center

    .tpl-entity-book
        transition: all 0.3s ease

        &.--hidden
            visibility: hidden
            width: 0
            margin: 0
            padding: 0
            border: 0
            overflow: hidden
            opacity: 0
            margin-right: -#{$spacer-m}
            
