@import ../../includes/variables

.tpl-personnalProfile
    background-color: $color-background-primary

    display: grid
    grid-template-columns: 1fr 1fr
    gap: $spacer-xl

    h1
        grid-column: 1 / 3

    section
        background-color: $color-white
        border-radius: 20px