@import '../../includes/variables'

.tpl-userConnect
    &__cta
        margin-top: $spacer-xl
        a
            color: $color-text

    &__image
        padding-bottom: unset
        padding-top: unset
        height: #{var(--page-height)}
        display: flex
        justify-content: center
        align-items: center

    form
        max-width: 322px