@import '../../includes/variables'

.tpl-userProfile
    display: grid
    grid-template-columns: auto 1fr
    gap: $spacer-xxl
    background-color: $color-background-primary

    &__user
        padding-top: $spacer-l
        width: 340px

    >*
        padding: 0
        background-color: $color-background-lightest
        border-radius: 20px
