@import '../includes/variables'

.tpl-header
  height: $header-height
  width: 100%
  position: sticky

  display: flex
  align-items: center
  gap: $spacer-xxl

  background-color: $color-background-primary

  .logo
    width: 155px

  a
    text-decoration: none
    color: $color-text

  >*
    display: flex
    align-items: center
    gap: $spacer-xl

  .tpl-buttonBurger
    margin-left: auto

    @media (min-width: $breakpoint-l)
      display: none