@import '../includes/variables'
@import '../includes/normalize'

*
  font-family: inter, sans-serif

body>*
  padding: 0 calc((100vw - #{$container-max-width}) / 2)

h1

h2

h3

h4

p

a
  underline: none

ul

li

img
  width: 100%
  height: auto

button
    
nav
  display: flex
  flex-wrap: wrap
  gap: $spacer-m
  align-items: center
  height: 100%