@import '../includes/variables'
@import '../includes/normalize'
@import '../includes/mixins'

*
  font-family: $family-main
  font-weight: $weight-regular
  padding: 0
  margin: 0
  box-sizing: border-box

:root
  font-size: $size-rem

body
  min-height: 100vh
  height: 100%
  display: flex
  flex-direction: column

section, header, footer
  @include padding-container($container-xl)

h1, h2, h3, h4
  font-family: $family-second
  font-weight: $weight-regular
  margin-bottom: 0.5em

h1

h2
  font-size: $size-xl

p
  font-weight: $weight-light
  margin-bottom: 1em

a
  color: $color-text-light

ul

li

img
  width: 100%
  height: auto

button
  background: $color-primary
  color: $color-white
  border: none
  
  border-radius: 10px
  padding: 1.5em 2em

  font-weight: $weight-semibold
  font-size: $size-m

  cursor: pointer

  &.inverted
    background: transparent
    color: $color-primary
    border: 2px solid $color-primary

  &.clear
    background: transparent
    color: $color-primary
    border: none

  @media (max-width: $breakpoint-s)
    width: 100%
    
nav
  display: flex
  flex-wrap: wrap
  gap: $spacer-m
  align-items: center

section
  padding-top: $spacer-xxl
  padding-bottom: $spacer-xxl

  h2
    text-align: center

.credit
  text-align: right
  color: $color-text-light
  font-size: $size-xs
  font-style: italic
  margin: 1em

.alternate-bg
  &>:nth-child(odd)
    background-color: $color-background-secondary
    color: $color-text-dark
  &>:nth-child(even)
    background-color: $color-background-primary
    color: $color-text

.bg-primary
  background-color: $color-background-primary
  color: $color-text-dark

.bg-secondary
  background-color: $color-background-secondary
  color: $color-text


.container
  @include container(#{var(--active-container)})

.padding-container
  @include padding-container(#{var(--active-container)})

:root
  --active-container: #{$container-xxl}

@each $size, $breakpoint, $container in ('xxl' $breakpoint-xxl $container-xxl), ('xl' $breakpoint-xl $container-xl), ('l' $breakpoint-l $container-l), ('m' $breakpoint-m $container-m), ('s' $breakpoint-s $container-s), ('xs' $breakpoint-xs $container-xs)

  .container-#{$size}
    @include container($container)

  .padding-container-#{$size}
    @include padding-container($container)

  :root
    @media (max-width: $breakpoint)
      --active-container: #{$container}