.tpl-bookList {
  background: #d1c7b4;
}
.tpl-bookList__list {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.tpl-bookList__titleHold {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.tpl-bookList .tpl-entity-book {
  transition: all 0.3s ease;
}
.tpl-bookList .tpl-entity-book.--hidden {
  visibility: hidden;
  width: 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  opacity: 0;
  margin-right: -1rem;
}