:root {
  --container-margin: 1.5rem;
  --active-container: 1320px;
  --page-height: calc(100vh - 80px - 60px);
  --size-rem: 16px;
  --container-padding: get-container-padding();
}
@media (max-width: 768px) {
  :root {
    --container-margin: 2rem;
    --size-rem: 14px;
  }
}

.container-xxl {
  max-width: min(1320px, 100vw - var(--container-margin) * 2);
  margin-left: auto;
  margin-right: auto;
}

.padding-container-xxl {
  padding-left: max((100% - 1320px) / 2, var(--container-margin));
  padding-right: max((100% - 1320px) / 2, var(--container-margin));
}

@media (max-width: 1400px) {
  :root {
    --active-container: 1320px;
  }
}

.container-xl {
  max-width: min(1140px, 100vw - var(--container-margin) * 2);
  margin-left: auto;
  margin-right: auto;
}

.padding-container-xl {
  padding-left: max((100% - 1140px) / 2, var(--container-margin));
  padding-right: max((100% - 1140px) / 2, var(--container-margin));
}

@media (max-width: 1200px) {
  :root {
    --active-container: 1140px;
  }
}

.container-l {
  max-width: min(960px, 100vw - var(--container-margin) * 2);
  margin-left: auto;
  margin-right: auto;
}

.padding-container-l {
  padding-left: max((100% - 960px) / 2, var(--container-margin));
  padding-right: max((100% - 960px) / 2, var(--container-margin));
}

@media (max-width: 992px) {
  :root {
    --active-container: 960px;
  }
}

.container-m {
  max-width: min(720px, 100vw - var(--container-margin) * 2);
  margin-left: auto;
  margin-right: auto;
}

.padding-container-m {
  padding-left: max((100% - 720px) / 2, var(--container-margin));
  padding-right: max((100% - 720px) / 2, var(--container-margin));
}

@media (max-width: 768px) {
  :root {
    --active-container: 720px;
  }
}

.container-s {
  max-width: min(540px, 100vw - var(--container-margin) * 2);
  margin-left: auto;
  margin-right: auto;
}

.padding-container-s {
  padding-left: max((100% - 540px) / 2, var(--container-margin));
  padding-right: max((100% - 540px) / 2, var(--container-margin));
}

@media (max-width: 576px) {
  :root {
    --active-container: 540px;
  }
}

.container-xs {
  max-width: min(100%, 100vw - var(--container-margin) * 2);
  margin-left: auto;
  margin-right: auto;
}

.padding-container-xs {
  padding-left: max((100% - 100%) / 2, var(--container-margin));
  padding-right: max((100% - 100%) / 2, var(--container-margin));
}

@media (max-width: 0) {
  :root {
    --active-container: 100%;
  }
}

.tpl-decouvrir {
  padding-left: max((100% - 720px) / 2, var(--container-margin));
  padding-right: max((100% - 720px) / 2, var(--container-margin));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}
.tpl-decouvrir__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 4rem;
  padding-left: 0;
}
.tpl-decouvrir__cta {
  margin-top: 1rem;
  margin-bottom: 4rem;
}
@media (max-width: 992px) {
  .tpl-decouvrir {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .tpl-decouvrir__text {
    grid-row: 2;
    padding: 0;
  }
  .tpl-decouvrir__text h2 {
    text-align: left;
  }
  .tpl-decouvrir__image {
    grid-row: 1;
    margin: 0 calc(-1 * var(--container-margin));
    width: calc(100% + var(--container-margin) * 2);
  }
}
@media (max-width: 576px) {
  .tpl-decouvrir__cta {
    margin-bottom: 0;
  }
}