.tpl-derniersLivres {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tpl-derniersLivres h2 {
  margin-bottom: 4rem;
}
.tpl-derniersLivres__books {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.tpl-derniersLivres__cta {
  margin: 1.5rem 0;
}
@media (max-width: 992px) {
  .tpl-derniersLivres__books {
    gap: 1rem;
  }
  .tpl-derniersLivres__cta {
    display: none;
  }
}