.tpl-entity-user--mini {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
}
.tpl-entity-user--mini__name {
  margin: 0;
  line-height: 1;
  color: #292929;
  font-size: 0.875rem;
}