.tpl-header {
  height: 80px;
  width: 100%;
  position: sticky;
  display: flex;
  align-items: center;
  gap: 4rem;
  background-color: #F5F3EF;
}
.tpl-header .logo {
  width: 155px;
}
.tpl-header a {
  text-decoration: none;
  color: #292929;
}
.tpl-header > * {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.tpl-header .tpl-buttonBurger {
  margin-left: auto;
}
@media (min-width: 992px) {
  .tpl-header .tpl-buttonBurger {
    display: none;
  }
}