.tpl-messages {
  padding: 1.5rem;
  background: #f5f3ef;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}
.tpl-messages__thread {
  overflow-y: scroll;
  scrollbar-width: thin;
  padding: 1.5rem;
}
.tpl-messages .tpl-entity-user--mini {
  margin-bottom: 1.5rem;
}
.tpl-messages .tpl-entity-user--mini__name {
  font-weight: 600;
}
.tpl-messages .tpl-entity-user--mini__message:first-of-type {
  margin-top: auto;
}
.tpl-messages form {
  flex-direction: row;
  align-items: center;
  max-width: 800px;
  gap: 1.5rem;
  margin-top: 4rem;
}
.tpl-messages form input {
  flex: 1;
  margin-right: 0.5rem;
  margin: 0;
}
.tpl-messages form button {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}