:root {
  --container-margin: 1.5rem;
  --active-container: 1320px;
  --page-height: calc(100vh - 80px - 60px);
  --size-rem: 16px;
  --container-padding: get-container-padding();
}
@media (max-width: 768px) {
  :root {
    --container-margin: 2rem;
    --size-rem: 14px;
  }
}

.container-xxl {
  max-width: min(1320px, 100vw - var(--container-margin) * 2);
  margin-left: auto;
  margin-right: auto;
}

.padding-container-xxl {
  padding-left: max((100% - 1320px) / 2, var(--container-margin));
  padding-right: max((100% - 1320px) / 2, var(--container-margin));
}

@media (max-width: 1400px) {
  :root {
    --active-container: 1320px;
  }
}

.container-xl {
  max-width: min(1140px, 100vw - var(--container-margin) * 2);
  margin-left: auto;
  margin-right: auto;
}

.padding-container-xl {
  padding-left: max((100% - 1140px) / 2, var(--container-margin));
  padding-right: max((100% - 1140px) / 2, var(--container-margin));
}

@media (max-width: 1200px) {
  :root {
    --active-container: 1140px;
  }
}

.container-l {
  max-width: min(960px, 100vw - var(--container-margin) * 2);
  margin-left: auto;
  margin-right: auto;
}

.padding-container-l {
  padding-left: max((100% - 960px) / 2, var(--container-margin));
  padding-right: max((100% - 960px) / 2, var(--container-margin));
}

@media (max-width: 992px) {
  :root {
    --active-container: 960px;
  }
}

.container-m {
  max-width: min(720px, 100vw - var(--container-margin) * 2);
  margin-left: auto;
  margin-right: auto;
}

.padding-container-m {
  padding-left: max((100% - 720px) / 2, var(--container-margin));
  padding-right: max((100% - 720px) / 2, var(--container-margin));
}

@media (max-width: 768px) {
  :root {
    --active-container: 720px;
  }
}

.container-s {
  max-width: min(540px, 100vw - var(--container-margin) * 2);
  margin-left: auto;
  margin-right: auto;
}

.padding-container-s {
  padding-left: max((100% - 540px) / 2, var(--container-margin));
  padding-right: max((100% - 540px) / 2, var(--container-margin));
}

@media (max-width: 576px) {
  :root {
    --active-container: 540px;
  }
}

.container-xs {
  max-width: min(100%, 100vw - var(--container-margin) * 2);
  margin-left: auto;
  margin-right: auto;
}

.padding-container-xs {
  padding-left: max((100% - 100%) / 2, var(--container-margin));
  padding-right: max((100% - 100%) / 2, var(--container-margin));
}

@media (max-width: 0) {
  :root {
    --active-container: 100%;
  }
}

.tpl-personnalProfile {
  background-color: #faf9f7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.tpl-personnalProfile h1 {
  grid-column: 1/3;
  font-size: calc(var(--size-rem) * 1.5);
}
.tpl-personnalProfile section {
  background-color: #FFF;
  border-radius: 20px;
}
.tpl-personnalProfile .tpl-userBooks {
  grid-column: 1/3;
  padding: 0;
  padding-top: 1rem;
  overflow: hidden;
}
@media (max-width: 992px) {
  .tpl-personnalProfile {
    grid-template-columns: 1fr;
  }
  .tpl-personnalProfile h1 {
    grid-column: 1/2;
  }
  .tpl-personnalProfile .tpl-userBooks {
    grid-column: 1/2;
  }
  .tpl-personnalProfile form button {
    width: 100%;
  }
}