.tpl-userProfile {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4rem;
  background-color: #e4dccd;
}
.tpl-userProfile__user {
  padding-top: 1.5rem;
  width: 340px;
}
.tpl-userProfile section {
  background-color: #FFF;
  border-radius: 20px;
}
.tpl-userProfile__books {
  padding: 0;
  padding-top: 1.5rem;
}