.tpl-userConnect {
  grid-template-columns: auto 1fr !important;
}
.tpl-userConnect__cta {
  margin-top: 2rem;
}
.tpl-userConnect__cta a {
  color: #292929;
}
.tpl-userConnect__image {
  padding-bottom: unset;
  padding-top: unset;
  height: var(--page-height);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tpl-userConnect__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.tpl-userConnect__form {
  padding-right: 12rem;
}
.tpl-userConnect form {
  max-width: 322px;
}