@import '../../includes/variables'
    
.tpl-nosValeurs

    &__subContainer
        position: relative
        padding-bottom: 40px
        max-width: 400px
        margin: 0 auto

    &__credit
        text-align: left
        
    &__heart
        width: 120px
        height: auto
        
        position: absolute
        right: -60px
        bottom: 0

    @media (max-width: $breakpoint-l)
        &__heart
            position: static
            margin-left: 60%
        &__subContainer
            position: static