@import '../includes/variables'

.tpl-entity-user--contact
    display: flex
    align-items: center
    flex-direction: row
    gap: $spacer-l

    height: 84px
    padding: $spacer-l

    &__infos
        font-size: $size-s
        width: 100%

        display: flex
        flex-direction: column
        justify-content: space-between
        gap: $spacer-s

        &>*
            margin: 0

    &__header
        display: flex
        align-items: center
        justify-content: space-between
        gap: $spacer-s

    &__content
        color: $color-text-light
        display: -webkit-box
        -webkit-line-clamp: 1
        -webkit-box-orient: vertical
        overflow: hidden
        text-overflow: ellipsis
    