@import '../includes/variables'
    
.tpl-entity-message
    width: 100%

    font-size: $size-s

    &__header
        color: $color-text-light
        display: flex
        align-items: center
        gap: $spacer-s

    &__photo
        width: 24px

    &__content
        background: $color-background-lightest
        border-radius: 3px
        padding: $spacer-s
        width: fit-content
        min-width: 200px
        max-width: 80%